
<html>
<head>
<title>Adilson Pacheco - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link href="{{ '/assets/css/fonts.css' | relative_url }}" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div style="overflow: hidden;" class="row" align="center">
    <div class="column"> <a href="https://geobuddy.github.io/" class="contact-button">Back</a> </div>
    <div class="column"> <a href="{{ '/images/resume.pdf' | relative_url }}" download="Adilson_Pacheco_resume/cv" class="contact-button">Download Resume</a> </div>
  </div>

	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{{ '/images/Me.png' | relative_url }}" alt="Adilson Pacheco" />
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo">Adilson Pacheco</h1>
			<h3 class="quickFade delayThree">MSc Geographic Information System </h3>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>email: <a href="mailto:adilson.pacheco93@gmail.com" target="_blank">adilson.pacheco93@gmail.com</a></li>
				<li>linkedin: <a href="https://www.linkedin.com/in/dodatascience">www.linkedin.com/in/dodatascience</a></li>
				<li>website: <a href="https://www.geobuddy.github.io">www.geobuddy.github.io</a></li>
				<li>mobile: +444 (0) 941161110</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
					<p>A master graduate specialised in Spatial Data Science. Experienced user of RDBMS, able to navigate through large databases, create and access a database instance on cloud, write advance SQL statements and perform manipulation and transformation of data from different sources. Self-motivated and hard-working individual with the ability to work with people from different backgrounds. Able to communicate concisely and efficiently in three different languages. Possesses great attention to detail, ability to work to deadlines and prioritise as well as being very punctual and reliable.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Software Developer Intern</h2>
					<p class="subDetails">UCL Spacetime Lab, London (United Kingdom)</p>
					<p class="subDetails">May 2019 - September 2019</p>
					<p>
					<ul Type="square" style="margin-left:20px;">
						<li>Write clean and efficient code based on client specifications for web applications development.</li>
						<li>Contributed to deployments by testing, debugging and resolving issues for optimal results.</li>
						<li>Created technical and non-technical documentation for reference and generate reports.</li>
					</ul>
					</p>
				</article>

				<article>
					<h2>Retail Advisor</h2>
					<p class="subDetails">Euro Garages, Ascot (United Kingdom)</p>
					<p class="subDetails">August 2017 - February 2018</p>
					<p>
					<ul Type="square" style="margin-left:20px;">
						<li>Assist customer with purchase, handle customer complaints and suggest necessary solutions and changes to address issues.</li>
					</ul> 
					</p>	
				</article>

				<article>
					<h2>GIS Research Assistant Intern</h2>
					<p class="subDetails">Royal Holloway University, Egham (United Kingdom)</p>
					<p class="subDetails">June 2017 - September 2017</p>
					<p>
					<ul Type="square" style="margin-left:20px;">
						<li>Create Digital Terrain Models from LiDar and point cloud data.</li>
						<li>Produced maps and models to publish in peer-review geological articles.</li>
					</ul> 
					</p>
				</article>

			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2 >MSc Geospatial Sciences</h2>
					<p class="subDetails">University College London, London, UK</p>
					<p class="subDetails">September 2018 - September 2019</p>
					<p>
					<ul Type="square" style="margin-left:20px;">
						<li>Spatial-Temporal Data Analysis and Data Mining (R, Python)</li>
						<li>Web and Mobile GIS - Apps and Programming (JavaScript and HTML)</li>
						<li>Spatial Databases and Data Management (SQL, PostgreSQL and PostGIS)</li>
						<li>Geospatial Programming (Python)</li>
						<li>Spatial Analysis and Geocomputation (R and Python)</li>
					</ul> 
					</p>
				</article>

				<article>
					<h2>BSc (Hons) Geology</h2>
					<p class="subDetails">Royal Holloway University, Egham, UK</p>
					<p class="subDetails">September 2015 - July 2018</p>
					<p>
					<ul Type="square" style="margin-left:20px;">
						<li>Computational Earth Science (Python)</li>
					</ul> 
					</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Training & Certification</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>IBM Data Science Specialisation</h2>
					<p class="subDetails">IBM - Coursera</p>
					<p class="subDetails">October 2019 - May 2020</p>
					<p></p>
				</article>

				<article>
					<h2>Introduction to Statistics for Data Science</h2>
					<p class="subDetails">SAP</p>
					<p class="subDetails">October 2019 - November 2019</p>
					<p></p>
				</article>

				<article>
					<h2>SQL Fundamentals</h2>
					<p class="subDetails">SoloLearn</p>
					<p class="subDetails">September 2019 - October 2019</p>
					<p></p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Technical Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>R</li>
					<li>JavaScript</li>
					<li>HTML</li>
					<li>Django</li>
					<li>SQL</li>
					<li>ArcGIS</li>
					<li>Qgis</li>
					<li>Panda</li>
					<li>Matplotlib</li>
					<li>Numpy</li>
					<li>Keras</li>
					<li>Scikit-learn</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Interpersonal Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Hard-working</li>
					<li>Great Communicator</li>
					<li>Excellent Teamwork</li>
					<li>Great Problem Solving</li>
					<li>Result-driven</li>
					<li>Self-motivated</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Languages</h1>
			</div>

			<div class="sectionContent">
				<article>
					<ul class="keySkills">
						<li>Portuguese (Native)</li>
						<li>French (Bilingual)</li>
						<li>English (Fluent)</li>
						<li>Spanish (Beginner)</li>
					</ul>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Professional Membership</h1>
			</div>

			<div class="sectionContent">
				<article>
					<p>Royal Institution of Charted Surveyors (RICS)</p>
					<p>Association of Geographic Information (AGI)</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
