
<html>
<head>
<title>Adilson Pacheco - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link href="{{ '/assets/css/fonts.css' | relative_url }}" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div style="overflow: hidden;" class="row" align="center">
    <div class="column"> <a href="https://geobuddy.github.io/" class="contact-button">Back</a> </div>
    <div class="column"> <a href="{{ '/images/resume.pdf' | relative_url }}" download="Adilson_Pacheco_resume/cv" class="contact-button">Download Resume</a> </div>
  </div>

	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{{ '/images/Me.png' | relative_url }}" alt="Adilson Pacheco" />
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo">Adilson Pacheco</h1>
			<h3 class="quickFade delayThree">MSc Geographic Information System Graduate</h3>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>email: <a href="mailto:adilson.pacheco93@gmail.com" target="_blank">adilson.pacheco93@gmail.com</a></li>
				<li>linkedin: <a href="https://www.linkedin.com/in/dodatascience">www.linkedin.com/in/dodatascience</a></li>
				<li>website: <a href="https://www.geobuddy.github.io">www.geobuddy.github.io</a></li>
				<li>mobile: +444 (0) 941161110</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
					<p>A master graduate specialised in Spatial Data Science. Experienced user of RDBMS, able to navigate through large databases, create and access a database instance on cloud, write advance SQL statements and perform manipulation and transformation of data from different sources. Self-motivated and hard-working individual with the ability to work with people from different backgrounds. Able to communicate concisely and efficiently in three different languages. Possesses great attention to detail, ability to work to deadlines and prioritise as well as being very punctual and reliable.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Software Developer Intern</h2>
					<p class="subDetails">UCL Spacetime Lab, London (United Kingdom)</p>
					<p class="subDetails">May 2019 - September 2019</p>
					<p>
					<ul>
						<li>Write clean and efficient code based on client specifications for web applications development.</li>
						<li>Contributed to deployments by testing, debugging and resolving issues for optimal results.</li>
						<li>Created technical and non-technical documentation for reference and generate reports.</li>
					</ul> 
					</p>
				</article>

				<article>
					<h2>Retail Advisor</h2>
					<p class="subDetails">Euro Garages, Ascot (United Kingdom)</p>
					<p class="subDetails">August 2017 - February 2018</p>
					<p>
					<ul>
						<li>Assist customer with purchase, handle customer complaints and suggest necessary solutions and changes to address issues.</li>
					</ul> 
					</p>	
				</article>

				<article>
					<h2>GIS Research Assistant Intern</h2>
					<p class="subDetails">Royal Holloway University, Egham (United Kingdom)</p>
					<p class="subDetails">June 2017 - September 2017</p>
					<p>
					<ul>
						<li>Create Digital Terrain Models from LiDar and point cloud data.</li>
						<li>Produced maps and models to publish in peer-review geological articles.</li>
					</ul> 
					</p>
				</article>

			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2 >MSc Geospatial Sciences</h2>
					<p class="subDetails">University College London, London, UK</p>
					<p class="subDetails">September 2018 - September 2019</p>
					<p class="subDetails">Award Average: Merit (GPA: 3.7/4.0)</p>
					<ul>
						<li>Spatial-Temporal Data Analysis and Data Mining (R, Python)</li>
						<li>Web and Mobile GIS - Apps and Programming (JavaScript and HTML)</li>
						<li>Spatial Databases and Data Management (SQL, PostgreSQL and PostGIS</li>
						<li>Geospatial Programming (Python)</li>
						<li>Spatial Analysis and Geocomputation (R and Python)</li>
					</ul> 
				</article>

				<article>
					<h2>BSc (Hons) Geology</h2>
					<p class="subDetails">Royal Holloway University, Egham, UK</p>
					<p class="subDetails">September 2015 - July 2018</p>
					<p class="subDetails">Award Average: Upper 2.1 (GPA: 3.8/4.0)</p>
					<ul>
						<li>Computational Earth Science (Python)</li>
					</ul> 
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Training & Certification</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>SAP</h2>
					<p class="subDetails">October 2019 - November 2019</p>
					<p>Introduction to Statistics for Data Science</p>
				</article>

				<article>
					<h2>IBM</h2>
					<p class="subDetails">September 2019</p>
					<p>Applied Data Science with Python - Level 2</p>
				</article>

				<article>
					<h2>IBM</h2>
					<p class="subDetails">May 2019</p>
					<p>Open Source tools for Data Science</p>
				</article>

				<article>
					<h2>ESRI</h2>
					<p class="subDetails">September 2018</p>
					<p>Do-It-Yourself Geo Apps</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Technical Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>R</li>
					<li>JavaScript</li>
					<li>SQL</li>
					<li>ArcGIS</li>
					<li>Qgis</li>
					<li>Microsoft Office (Word, Excel and Power Point)</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Interpersonal Skills</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Communication</h2>
					<p>Proficient speaker, delivered academic presentations to audiences ranging from small groups to numbers of up 100 people. Able to convey information effectively and concisely. Skill gained through past customer service roles where I often resolved customer queries at Euro Garages.</p>
				</article>

				<article>
					<h2>Teamwork</h2>
					<p>Excellent team player, able to work as a team towards a common cause or target. Proven in my academic projects and work with charities where as a team we plan fundraising activities and house-to-house collections.</p>
				</article>

				<article>
					<h2>Result-driven</h2>
					<p>Excellent track record of target achievement through my academic studies and professional work. As a part-time software developer, I am accustomed to working and meeting specific deadlines involved in the software development lifecycle from production to deployment stage.</p>
				</article>

				<article>
					<h2>Self-motivation</h2>
					<p>Possess a great ability to work independently and learn new skills. This year, I have completed 10 accredited online self-study courses and expect to further complete 5 new courses by the end of the year. These courses are aimed at further improving my skills in data analytics, data visualisation and programming.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Languages</h1>
			</div>

			<div class="sectionContent">
				<article>
					<p>Portuguese (Native), French (Bilingual), English (Fluent) and Spanish (Beginner).</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Professional Membership</h1>
			</div>

			<div class="sectionContent">
				<article>
					<p>Royal Institution of Charted Surveyors (RICS) and
					Association of Geographic Information (AGI).</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
