
<html>
<head>
<title>Adilson Pacheco - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link href="{{ '/assets/css/fonts.css' | relative_url }}" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div style="overflow: hidden;" class="row" align="center">
    <div class="column"> <a href="https://geobuddy.github.io/" class="contact-button">Back</a> </div>
    <div class="column"> <a href="{{ '/images/resume.pdf' | relative_url }}" download="Adilson_Pacheco_resume/cv" class="contact-button">Download Resume</a> </div>
  </div>

	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{{ '/images/Me.png' | relative_url }}" alt="Adilson Pacheco" />
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo">Adilson Pacheco</h1>
			<h3 class="quickFade delayThree">MSc Geospatial Sciences </h3>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>email: <a href="mailto:adilson.pacheco93@gmail.com" target="_blank">adilson.pacheco93@gmail.com</a></li>
				<li>linkedin: <a href="https://www.linkedin.com/in/dodatascience">www.linkedin.com/in/dodatascience</a></li>
				<li>website: <a href="https://www.geobuddy.github.io">www.geobuddy.github.io</a></li>
				<li>mobile: +244 941-161-110</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
					<p>Master graduate specialised in Spatial Data Science. Independent user of Database Management Systems (DBMS), and other analytical tools for data monitoring and management. Ability to use scripting languages such as Python and R to perform analytical tasks for obtaining and manipulating data. Proactive and hardworking individual, able to communicate fluently in three languages. Great attention to detail, ability to meet deadlines and prioritise, in addition to being very punctual and reliable.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Software Developer Intern</h2>
					<p class="subDetails">UCL Spacetime Lab, London (United Kingdom)</p>
					<p class="subDetails">May 2019 - September 2019</p>
					<p>
					<ul Type="square" style="margin-left:20px;">
						<li>Developed an open-source dashboard for spatial data visualisation and analysis, reducing significant spending costs on proprietary software subscription.</li>
						<li>Wrote technical and non-technical documentation for reference and generate reports.</li>
					</ul>
					</p>
				</article>

				<article>
					<h2>Retail Advisor</h2>
					<p class="subDetails">Euro Garages, Ascot (United Kingdom)</p>
					<p class="subDetails">August 2017 - February 2018</p>
					<p>
					<ul Type="square" style="margin-left:20px;">
						<li>Responsible for sales, stock management and assortment.</li>
						<li>Implement retail best practices and make customer shopping experience memorable.</li>
						<li>Responsible for management on several occasions in the absence of the manager.</li>
					</ul> 
					</p>	
				</article>

				<article>
					<h2>GIS Research Assistant Intern</h2>
					<p class="subDetails">Royal Holloway University, Egham (United Kingdom)</p>
					<p class="subDetails">June 2017 - September 2017</p>
					<p>
					<ul Type="square" style="margin-left:20px;">
						<li>Create Digital Terrain Models from LiDar and point cloud data.</li>
						<li>Produced maps and models to publish in peer-review geological articles.</li>
					</ul> 
					</p>
				</article>

			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2 >MSc Geospatial Sciences</h2>
					<p class="subDetails">University College London, London, UK</p>
					<p class="subDetails">September 2018 - September 2019</p>
					<p>
					<ul Type="square" style="margin-left:20px;">
						<li><b>Spatial-Temporal Data Analysis and Data Mining:</b> R, Python</li>
						<li><b>Web and Mobile GIS - Apps and Programming:</b> JavaScript and HTML</li>
						<li><b>Spatial Databases and Data Management:</b> SQL, PostgreSQL and PostGIS</li>
						<li><b>Geospatial Programming:</b> Python</li>
						<li><b>Spatial Analysis and Geocomputation:</b> R and Python</li>
						<li><b>Dissertation:</b> Development of Open-source Dashboard for Crime Visualisation and Analysis</li>
					</ul> 
					</p>
				</article>

				<article>
					<h2>BSc (Hons) Geology</h2>
					<p class="subDetails">Royal Holloway University, Egham, UK</p>
					<p class="subDetails">September 2015 - July 2018</p>
					<p>
					<ul Type="square" style="margin-left:20px;">
						<li><b>Computational Earth Science:</b> Python</li>
						<li><b>GIS And Remote Sensing:</b> ArcGIS</li>
					</ul> 
					</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Training & Certification</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Data Warehousing for Business Intelligence Specialisation</h2>
					<p class="subDetails">Coursera</p>
					<p class="subDetails">September 2020 - Present</p>
					<p></p>
				</article>

				<article>
					<h2>IBM Data Science Specialisation</h2>
					<p class="subDetails">IBM - Coursera</p>
					<p class="subDetails">October 2019 - May 2020</p>
					<p></p>
				</article>

				<article>
					<h2>Introduction to Statistics for Data Science</h2>
					<p class="subDetails">SAP</p>
					<p class="subDetails">October 2019 - November 2019</p>
					<p></p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Skills</h1>
			</div>

			<div class="sectionContent">
				<article>
					<p>
					<ul Type="square" style="margin-left:20px;">
						<li><b>Programming:</b> Proficient in Python (Matplotlib, Pandas, Scikit-learn, Django), R, SQL (MySQL, PostgreSQL, PostGIS), ArcGIS, QGIS, Microsoft Office (Excel, PowerPoint, Word); Intermediate in JavaScript, HTML, RestAPI, Unix.</li>
						<li><b>Languages:</b> Native language Portuguese; Fluent in English and French.</li>
						<li><b>Membership:</b> Association of Geographic Information (UK), Royal Institute of Chartered Surveyors (UK)</li>
						<li><b>Driving License:</b> B</li>
					</ul>
					</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
